-# app/views/onetime/created.haml

%section.articles
  .column.is-8.is-offset-2
    .card.article
      .card-content
        .media
          .media-content.has-text-centered
            %h3.title.article-title= 'One-Time Link generated:'
        .content.article-body
          %input{:name => "link", :type => "text", :value => @web_url, :onclick => "this.select()", :style => "width:100%; padding: 6px; mardin: 6px;"}
          %p
          %strong  Make sure to copy the generated link, that allows <u>one-time</u> access to the secret you entered.
          %p
          %p= link_to 'Create another onetime link ...' , '/'
