-# app/views/onetime/show.haml

%section.articles
  .column.is-8.is-offset-2
    .card.article
      .card-content
        .media
          .media-content.has-text-centered
            %h3.title.article-title  Click the button below to see a secret <u>once</u>:
            .tags.has-addons.level-item= ''
        .content.article-body
          %div
          <hr>
          %ul
            %li The secret will be visible only <u>once</u> - copy it somewhere safe!
            %li Make sure nobody except yourself can see your screen before you click!
          %p
          <hr>
          %a.button{:href => @url_path, :class => 'button is-primary is-fullwidth'} PROCEED
          %p
          %p=@wrong
          %p= link_to 'Create another onetime secret link ' , '/'
