-# app/views/onetime/show.haml

%section.articles
  .column.is-8.is-offset-2
    .card.article
      .card-content
        .media
          .media-content.has-text-centered
            %h3.title.article-title= 'Click button bellow to see one time content:'
            .tags.has-addons.level-item= ''
        .content.article-body
          %div
          %a.button{:href => @url_path, :class => 'button is-primary is-fullwidth'} PROCEED
          %p
          <hr>
          %strong='Note: it will be visible only once!'
          %p
          %p=@wrong
          %p= link_to ' Create another onetime content ' , '/'
